<header th:fragment="header">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/ordertype/list}">
      Master Information
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
      	<!-- A menu link to lists order types -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/ordertype/list}">Order Types</a>
        </li>
        
        <!-- A menu link to add a new order type -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/ordertype/0}">Add New Order Type</a>
        </li> 
        
       
      	<!-- A menu link to lists order types -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/producttype/list}">Product Types</a>
        </li>
        
        <!-- A menu link to add a new order type -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/producttype/0}">Add New Product Type</a>
        </li> 
        
      </ul>
    </div>
  </nav>
</header>